html{
    background-color: slategray;
    color: white;
    
}

.arg-title{
    display: inline;
    width: 300px;
}

.request-box{
    float: left;
    margin-right: 50px;
}

.args{
    float: right;
}